@model IEnumerable<Projet_Reservation.Models.Vol>

@{
    ViewBag.Title = "Index";
}
<link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet" />  
<h2>Catalogue</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbpmax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nbpmax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrive)
            </td>

            <td>

                @Html.ActionLink("Detail", "Catalogue", new { id = item.ID })

            </td>
        </tr>
    }

</table>
